<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.estrix.zwrotpaczek"
          android:versionCode="15"
          android:versionName="2.0.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
	<supports-screens android:xlargeScreens="true"/>

	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29"/>
	<application android:label="Zwrot Paczek"
                     android:icon="@mipmap/ic_launcher"
                     android:isGame="false"
				 	 android:allowBackup="true"
				     android:launchMode="singleTop"
					 android:name="android.support.multidex.MultiDexApplication"
					 android:debuggable="false">
		<activity android:name="javafxports.android.FXActivity"
				  android:label="Zwrot Paczek"
				  android:theme="@style/SplashTheme"
				  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
				  android:windowSoftInputMode="adjustResize"
				  android:screenOrientation="portrait">
			<meta-data android:name="java.args" android:value="notificationId"/>
			<meta-data android:name="main.class" android:value="pl.estrix.zwrotpaczek.AppMain"/>
			<meta-data android:name="preloader.class" android:value="pl.estrix.zwrotpaczek.MyPreloader"/>
			<meta-data android:name="debug.port" android:value="0"/>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
